In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("casestudy.csv")

In [3]:
data.head()

   Unnamed: 0         customer_email  net_revenue  year
0           0   nhknapwsbx@gmail.com       249.92  2015
1           1   joiuzbvcpn@gmail.com        87.61  2015
2           2   ukkjctepxt@gmail.com       168.38  2015
3           3   gykatilzrt@gmail.com        62.40  2015
4           4   mmsgsrtxah@gmail.com        43.08  2015

In [4]:
data.info

<bound method DataFrame.info of         Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]>

In [5]:
year17 = data[data['year']==2017]

In [6]:
current_year_sum= year17['net_revenue'].sum()

In [7]:
print("Current year sum is : ",current_year_sum)

Current year sum is :  31417495.030000016

In [8]:
year16 = data[data['year']==2016]
previous_year_sum= year16['net_revenue'].sum()
print("Existing customer growth : ", current_year_sum-previous_year_sum)

Existing customer growth :  5686551.440000016

In [9]:
print("Total customer in year 2017 is : ", len(year17))
print("Total customer in year 2016 is : ", len(year16))

Total customer in year 2017 is :  249987
Total customer in year 2016 is :  204646